<!DOCTYPE html>
<html>
<head>
    <title><%= pageTitle %></title>
    <meta charset="utf-8"/>
    <link rel="stylesheet" href="/public/assets/style.css" type="text/css" media="screen" />
    <link id="GEPIStyles" rel="stylesheet" href="//intgepi.bglobale.com/includes/css/1438">
</head>
<body>
    <script>
        (function() {
        var s = document.createElement('script');
        s.type = 'text/javascript';
        s.async = true;
        s.src = '//intgepi.bglobale.com/includes/js/1438';
        document.getElementsByTagName('head')[0].appendChild(s);
        })();</script>

<section id="content" class="container">
    <nav class="navbar navbar-inverse">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">
                <i class="fa fa-home"></i>
            </a>

        </div>
        <div class="navbar-header navbar-right">
            <span data-ge-shippingswitcher-flag> </span>
            <a href="/cart" class="navbar-brand">
                <i class="fa fa-shopping-cart go-to-cart-lnk"></i>
            </a>
        </div>

    </nav>